name: Build & Publish
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build
      uses: ./.github/actions/build
      with: 
        args: build
    - name: Publish
      if: github.ref == 'refs/heads/master'
      uses: ./.github/actions/build
      env:
        BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
        BINTRAY_API_KEY: ${{ secrets.BINTRAY_API_KEY }}
      with:
        args: publish
